PORT=3000

DATABASE_URL="postgresql://postgres:SENHA@HOST:5432/NOME_DO_BANCO?schema=public"

# Broker MQTT (dispositivos IoT)
MQTT_BROKER_URL=

# Chave/endpoint da API de IA
AI_API_URL=
AI_API_KEY=

JWT_SECRET=
JWT_EXPIRES_IN=